<section id="series" class="container">
  <h2>Series</h2>
  <div class=" d-flex flex-wrap justify-content-center">
    <div class="card"  >
      <img src="https://m.media-amazon.com/images/M/MV5BY2FmZTY5YTktOWRlYy00NmIyLWE0ZmQtZDg2YjlmMzczZDZiXkEyXkFqcGdeQXVyNjg4NzAyOTA@._V1_.jpg"
          class="poster " alt="...">
      <div class="card-body">
        <h5 class="card-title">The Big Bang Theory</h5>
        <p class="card-text align-text-justify">A woman who moves into an apartment across the hall from two
          brilliant but socially awkward physicists shows.</p>
        <h5 class="card-actores">Actors:</h5>
        <p class="card-text">Kaley Cuoco, Jim Parsons, Johnny Galecki</p>
        <h5 class="card-actores">Rating:
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
        </h5>
      </div>
    </div>

    <div class="card">
      <img src="https://m.media-amazon.com/images/M/MV5BOTcwNzU2MGEtMzUzNC00MzMwLWJhZGItNDY3NDllYjU5YzAyXkEyXkFqcGdeQXVyMzQ2MDI5NjU@._V1_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silicon Valley</h5>
        <p class="card-text align-text-justify">Follows the struggle of Richard Hendricks, a Silicon Valley engineer
          trying to build his own company called Pied Piper.</p>
        <h5 class="card-actores">Actors:</h5>
        <p class="card-text">Thomas Middleditch, Kumail Nanjiani, Zach Woods</p>
        <h5 class="card-actores">Rating:
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-regular.svg">
        </h5>
      </div>
    </div>

    <div class="card"  >
      <img src="https://m.media-amazon.com/images/M/MV5BMzgxMmQxZjQtNDdmMC00MjRlLTk1MDEtZDcwNTdmOTg0YzA2XkEyXkFqcGdeQXVyMzQ2MDI5NjU@._V1_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mr. Robot</h5>
        <p class="card-text align-text-justify">A woman who moves into an apartment across the hall from two
          brilliant
          but socially awkward physicists shows.</p>
        <h5 class="card-actores">Actors:</h5>
        <p class="card-text">Kaley Cuoco, Jim Parsons, Johnny Galecki</p>
        <h5 class="card-actores">Rating:
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-half-alt-solid.svg">
          <img class="star" src="/assets/star-regular.svg">
        </h5>
      </div>
    </div>

    <div class="card"  >
      <img src="https://m.media-amazon.com/images/M/MV5BMTczNjAyMDg1Nl5BMl5BanBnXkFtZTgwMDQyNTA2OTE@._V1_.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Halt and Catch Fire</h5>
        <p class="card-text align-text-justify">In 1983, former IBM sales executive Joe MacMillan joins Cardiff
          Electric, a Dallas-based mainframe software company.</p>
        <h5 class="card-actores">Actors:</h5>
        <p class="card-text">Lee Pace, Mackenzie Davis, Kerry Bishé</p>
        <h5 class="card-actores">Rating:
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-regular.svg">
          <img class="star" src="/assets/star-regular.svg">
        </h5>
      </div>
    </div>

    <div class="card"  >
      <img src="https://m.media-amazon.com/images/M/MV5BMTM5MjkwMTI0MV5BMl5BanBnXkFtZTcwODQwMTc0OQ@@._V1_.jpg"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dexter</h5>
        <p class="card-text align-text-justify">By day, mild-mannered Dexter is a blood-spatter analyst for the
          Miami police. But at night, he is a serial killer who only targets other murderers.</p>
        <h5 class="card-actores">Actors:</h5>
        <p class="card-text">Michael C. Hall, Jennifer Carpenter, David Zayas</p>
        <h5 class="card-actores">Rating:
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-solid.svg">
          <img class="star" src="/assets/star-half-alt-solid.svg">
          <img class="star" src="/assets/star-regular.svg">
          <img class="star" src="/assets/star-regular.svg">
        </h5>
      </div>
    </div>
  </div>
</section>


