<header>
  <h1 class="principalTitle">Netfli 2.0</h1>
  <span class="slogan">Alquiler de peliculas </span>
     <div>
       <nav aria-label="menu, zona de navegación">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <p class="nav-link active" aria-current="page" >Nosotros</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" >¿Como funciona?</p>
          </li>
          <li class="nav-item">
            <p class="nav-link">Impacto</p>
          </li>
          <li class="nav-item">
            <p class="nav-link " >Planes</p>
          </li>
          <li class="nav-item">
            <p ><img class="carrito"src="https://cdn-icons-png.flaticon.com/512/1170/1170678.png" alt="carrito"></p>
          </li>
        </ul>
       </nav>
   </div>
</header>
