<header class="p-5 d-flex justify-content-center flex-column align-items-center"
  style="background-color: rgb(156, 106, 202); color: white;">
  <h1 style=" font-size: 3rem;">Registro Usuario</h1>
</header>

<div class="container p-5">
  <main>
    <div class="py-5 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h2>Formulario Reactive</h2>
      <h5 class="pb-4">Poniendo a prueba lo aprendido en clases en Desafio Nº 3</h5>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h3>Respuesta Reactive:</h3>
        <p id="respuesta"></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Campo</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Nombre:</th>
              <td>{{persona.nombre}}</td>
            </tr>
            <tr>
              <th scope="row">Apellido:</th>
              <td>{{persona.apellido}}</td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>{{persona.email}}</td>
            </tr>
            <tr>
              <th scope="row">Direccion:</th>
              <td>{{persona.direccion}}</td>
            </tr>
            <tr>
              <th scope="row">Pais:</th>
              <td>{{persona.pais}}</td>
            </tr>
            <tr>
              <th scope="row">Ciudad:</th>
              <td>{{persona.ciudad}}</td>
            </tr>
            <tr>
              <th scope="row">Cod. Postal:</th>
              <td>{{persona.cp}}</td>
            </tr>
            <tr>
              <th scope="row">>Edad:</th>
              <td>{{persona.mayorEdad}}</td>
            </tr>
            <tr>
              <th scope="row">Sexo:</th>
              <td>{{persona.sexo}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-7 col-lg-8">

        <h3 class="mb-3">Registro Usuario:</h3>

        <form [formGroup]="personaReactForm">

          <div class="row g-3 my-3">
            <div class="col-sm-6 form-group">
              <label for="nombre" class="form-label">Nombre<span class="requerido"> *</span></label>
              <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
              <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                class="alert alert-danger">
                <div *ngIf="nombreControl.hasError('required')">
                  El nombre es requerido
                </div>
                <div *ngIf="nombreControl.hasError('maxlength')">
                  El nombre no puede superar los 20 caracteres
                </div>
              </div>

            </div>

            <div class="col-sm-6 form-group">
              <label for="apellido" class="form-label">Apellido<span class="requerido"> *</span></label>
              <input type="text" class="form-control" id="apellido" name="apellido" formControlName="apellido">
              <div *ngIf="apellidoControl.invalid && (apellidoControl.dirty || apellidoControl.touched)"
                class="alert alert-danger">
                <div *ngIf="apellidoControl.hasError('required')">
                  El Apellido es requerido
                </div>
                <div *ngIf="apellidoControl.hasError('maxlength')">
                  El Apellido no puede superar los 20 caracteres
                </div>
              </div>
            </div>


            <div class="col-12 form-group" style="height: 130px;">
              <label for="email" class="form-label">Email<span class="requerido"> *</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo: you@example.com"
                formControlName="email">

              <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
                class="alert alert-danger">
                <div *ngIf="emailControl.hasError('required')">
                  El email es requerido
                </div>
                <div *ngIf="emailControl.hasError('email')">
                  El email introducido debe ser del tipo you@dominio [ej: angular@gmail.com]
                </div>
              </div>
            </div>

            <div class="col-12 form-group">
              <label for="direccion" class="form-label">Direccion<span class="requerido"> *</span></label>
              <input type="text" class="form-control" id="direccion" name="direccion" placeholder=" Calle 1234"
                formControlName="direccion">
              <div *ngIf="direccionControl.invalid && (direccionControl.dirty || direccionControl.touched)"
                class="alert alert-danger">
                <div *ngIf="direccionControl.hasError('required')">
                  La direccion es requerida
                </div>
              </div>
            </div>

            <div class="col-md-5 form-group">
              <label for="pais" class="form-label">Pais<span class="requerido"> *</span></label>
              <select class="form-select" id="pais" name="pais" formControlName="pais">
                <option value="">Elige...</option>
                <option>Argentina</option>
                <option>Brasil</option>
                <option>Chile</option>
                <option>Paraguay</option>
                <option>Uruguay</option>
                <option>Venezuela</option>
              </select>
              <div *ngIf="paisControl.hasError('required') &&  paisControl.touched " class="alert alert-danger">
                El Pais es un campo requerido
              </div>
            </div>

            <div class="col-md-4 form-group">
              <label for="ciudad" class="form-label">Ciudad<span class="requerido"> *</span></label>
              <select class="form-select" id="ciudad" name="ciudad" formControlName="ciudad">
                <option value="">Elige...</option>
                <option>Buenos Aires</option>
                <option>San Pablo</option>
                <option>Santiago</option>
                <option>Asuncion</option>
                <option>Montevideo</option>
                <option>Caracas</option>
              </select>
              <div *ngIf="ciudadControl.hasError('required') &&  ciudadControl.touched " class="alert alert-danger">
                El Ciudad es un campo requerido
              </div>
            </div>

            <div class="col-md-3"form-group>
              <label for="cp" class="form-label">Código Postal<span class="requerido"> *</span></label>
              <input type="text" class="form-control" id="cp" name="cp" placeholder="" formControlName="cp">
              <div *ngIf="cpControl.invalid && (cpControl.dirty || cpControl.touched)" class="alert alert-danger">
                <div *ngIf="cpControl.hasError('required')">
                  El codigo postal es requerido
                </div>
                <div *ngIf="cpControl.hasError('pattern')">
                  El codigo postal comprende entre 4 a 5 digitos numericos.
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <label for="sexo" class="form-label">Sexo<span class="requerido"> *</span></label>
          <div class="my-3 form-group">
            <div class="form-check ">
              <input id="femenino" name="sexo" type="radio" class="form-check-input" value="Femenino"
                formControlName="sexo">
              <label class="form-check-label" for="femenino">Femenino</label>
            </div>
            <div class="form-check">
              <input id="masculino" name="sexo" type="radio" class="form-check-input" value="Masculino"
                formControlName="sexo">
              <label class="form-check-label" for="masculino">Masculino</label>
            </div>
            <div class="form-check">
              <input id="noBinario" name="sexo" type="radio" class="form-check-input" value="No Binario"
                formControlName="sexo">
              <label class="form-check-label" for="noBinario">No Binario</label>
            </div>
            <div *ngIf="sexoControl.hasError('required') &&  sexoControl.untouched " class="alert alert-danger">
              El Sexo es un campo requerido
            </div>
          </div>

          <hr class="my-4">

          <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="mayorEdad" name="mayorEdad" formControlName="mayorEdad">
            <label class="form-check-label" for="mayorEdad">Soy Mayor de 18 años</label>
          </div>

          <hr class="my-4">

          <button class="w-30 mt-5 mx-auto d-block btn btn-primary btn-lg" (click)="reset()">Limpiar Formulario</button>
        </form>
      </div>
    </div>
  </main>
</div>
<footer class="my-5 p-5 d-flex justify-content-center flex-column align-items-center"
  style="background-color: rgb(156, 106, 202); color: white; font-size: 1.5rem; ">
  <p>Fin Resgistro</p>
  <p class="mb-1">&copy; 2017–2021 Copyright</p>
</footer>
