
<section id="impacto">
  <h2>3 simples razones porque alquilar peliculas es la mejor opción</h2>
    <div class="impacto-area section-padding30">
        <div class="row">
            <div class="col-lg col-md col-sm">
                <div class="explanation text-center  ">
                    <div class="caption">
                        <img class="img-impacto" src="../../assets/img/3D glasses-pana.svg" alt="imagen que representa ">
                        <h5>Reducis tu huella ecologica </h5>
                        <p>Alquilando la peli se reducen la cantidad de dvs y de plastico </p>
                    </div>
                </div>
            </div>
            <div class="col-lg col-md col-sm">
                <div class="explanation text-center ">
                <div class="caption">
                    <img class="img-impacto" src="../../assets/img/Film rolls-rafiki.svg" alt="imagen que representa">
                    <h5>Ahorras</h5>
                    <p>¿Para que gastar tanta plata en una suscripcion que vas a usar 2 veces al mes? Paga solo cuando queres ver la peli</p>
                </div>
                </div>
            </div>
            <div class="col-lg col-md col-sm">
                <div class="explanation text-center ">
                    <div class="caption">
                        <img  class="img-impacto" src="../../assets/img/Movie Night-amico.svg" alt="imagen que representa ">
                        <h5>Tenes mas tiempo libre</h5>
                        <p>Olvidate de pasarte horas buscando en internet o en los locales. La peli que queres esta a un click de distancia</p>
                    </div>
                </div>
            </div>
            </div>
     </div>
</section>
