<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#home">
      <img src="/assets/movie.png" alt="" width="80" height="80" class="d-inline-block align-text-top">
     <span class="nombre-brand px-2">Serieteka</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
        <a class="nav-link" href="#series">Series</a>
        <a class="nav-link" href="#contacto">Contacto</a>
        <!-- <a class="nav-link disabled">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
