.navbar{
  background-color: rgb(3, 37, 37) !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


// .navbar-brand, a{
//   font-size: 1.5rem;
//   font-weight: 500;
//   padding: 0px 2vw;
// }

span{
  font-size: 2rem;
  color: aliceblue !important;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navlink a{
  color: aliceblue !important;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0px 20vw;
}

