h1{
  font-family: sans-serif;
  font-size: 3rem;
  padding: 0px 2vw;
  color: antiquewhite;
  background-color: rgb(5, 82, 82);
}

app-hola-mundo{
  // display: flex;
  // justify-content: space-around;

}

// ::ngdepp{

// }
